.container-element{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.form-element{
    box-shadow: 1px 1px 1px 1px;
    padding: 30px;
    border-radius: 10px;
}
.input-container{
    margin: 5px;
}
input{
    padding: 10px;
    margin: 5;
    background-color: none;
}
label{
    padding: 10px;
    margin: 5;
    font-size: 18px;
}
.final-answer-heading{
    text-align: center;
}
.button-container{
    text-align: center;
}
.button{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(10, 123, 236);
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
}